body {
    overflow-x: hidden;
}

.aboutWrapperStyle {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    overflow: hidden
}

;

.leftPane {
    width: 25vw;
    height: 100vh;
    position: sticky;
    z-index: 0;
}

;

.rightPane {
    z-index: 1;
    width: 75vw;
    overflow: auto;
    height: 100vh;
    padding: .5rem;
}

.bodyText {
    padding: 80px;
}
.sprawlContainer{
    overflow: auto;
    height: 100vh;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: scrollbar;
}

;