.fiveByFive {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-areas:
    "a1""a2""a3"
    "b1""b2""b3"
    "c1""c2""c3"
  ;
  border: black solid 5px
}
.fiveByFive{
  height: 100%;
  width: 100%;
}
.fiveByFive{
  height: 100%;
  width: 100%;  
}
.box{
  display:flex;
  justify-content:center;
  align-items:center;
}
.box:nth-child(odd){
  background-color: white;
  color:rgba(0, 0, 0, 0.753);
}
.box:nth-child(even){
  background-color: rgba(0, 0, 0, 0.863);
  color:white;
}
.box:nth-child(odd):hover{
  border:solid rgba(0, 0, 0, 0.863) 10px;
}
.box:nth-child(even):hover{
  background-color: black;
  border:solid white 10px;
}
.box:nth-child(even):hover>h1{
  text-shadow: 2px 6px 8px rgba(128, 128, 128, 0.158);
}
.box:nth-child(odd):hover>h1{
  text-shadow: 2px 6px 8px rgba(0, 0, 0, 0.541);
}

